.header {
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1 px solid black;
    background-color: rgb(137, 130, 117);
    color: white;
    
}
.header button{
    background-color: grey;
    color:red;
    padding: 20px
}
.nav-items > ul {
   list-style-type: none;
   display: flex;
   }
.nav-items > ul > li {
    padding: 50px;
    font-size: 50px;
}
.logo{
    width: 150px;
}
.card{
    width: 300px;
    height: 300pxpx;
    border: 1px solid black;
    padding: 10px;
    margin: 100 px;
    /* background-color: rgb(84, 0, 157);
    color: rgb(207, 197, 197); */
}
.card > img {
    width: 100%;
    height: 300px;
   
}

.restaurant-list{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 100px;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
    background-color: pure white;
    
}
